package {{package}};

{{#useLombok}}
import lombok.Builder;
import lombok.Data;
{{/useLombok}}

{{#models}}
    {{#model}}
        {{#isEnum}}
            {{>enumOuterClass}}
        {{/isEnum}}
        {{^isEnum}}
{{>pojo}}
        {{/isEnum}}
    {{/model}}
{{/models}}
